
.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    height: 400px;
}

.about-section {
    text-align: center;
}

.about-section h2 {
    color: #3498db;
}

.about-content {
    margin-top: 20px;
}

.about-content p {
    color: #555;
}

.highlight-text {
    color: #e74c3c;
    font-weight: bold;
}
.social-icons a img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.button-container{
border-radius: 5px;
}
.search-box {
    margin-top: 20px;
    text-align: center;
    height: 80px;
    background-color: rgb(85, 41, 247);
    margin-bottom: 10px;
}

.search-box input[type=""] {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    
}

.search-box button {
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
   
}
.container{
    background-color: #000;
    
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    background-color: #0d0d79;
    color: #fff;
    padding: 10px;
}

#video-container {
    position: relative;
    width: 100%;
    height: 400px;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

main {
    padding: 20px;
}


footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 310px;
}
footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer li {
  flex: 1;  
    margin: 15px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.social-icons {
    margin-top: 20px;
    border-radius: 10px;
}
.container {
    display: flex;
    width: 100%;
    margin: 20px;
}

.container:hover {
    background-color: #e0e0e0; 
}

.image {
    flex: 1;
    overflow: hidden;
   
}

.image img {
    width: 100%;
    height: 350px;
    display: block;
}

.details {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

h2 {
    color: #333;
}

p {
    color: #555;
}
